html, body {margin: 0; padding: 0; font-family: Arial;}
#map {width: 100%; height: 100%; }
.pubdets {color: #333; font-size: 16px;}
.pubdets div {margin-bottom: 10px;}
.pubname {font-family: 'CabinSemiBold', Arial;}
.address {font-size: 14px; color: #666;}
a {color: #06f; text-decoration:none;}
		